﻿@model IEnumerable<Proyecto_Semestral.Net.Models.Jugadores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3 style="color: red;">@ViewBag.NullVar</h3>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Equipo @Html.TextBox("EQUIPO", null, htmlAttributes: new { @class = "form-control" })</label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" style="margin-top: 22px;" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

            </div>
        </div>
    </div>
}

<table class="table">
    <tr class="tr-table-head">
        <th>
            <span>Nombre</span>
        </th>
        <th>
            <span>Apellido</span>
        </th>
        <th>
            <span>Posicion</span>
        </th>
        <th>
            <span>Equipo</span>
        </th>
        <th>
            <span>Pais</span>
        </th>
        <th>
            <span>Opciones</span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr-table-body">
            <td>
                @Html.DisplayFor(modelItem => item.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipos.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipos.pais)
            </td>
            <td>
                <div class="btn-container">@Html.ActionLink("Editar", "Edit", new { id = item.id })</div>
                <div class="btn-container">@Html.ActionLink("Detalles", "Details", new { id = item.id })</div>
                <div class="btn-container">@Html.ActionLink("Eliminar", "Delete", new { id = item.id })</div>
            </td>
        </tr>
    }

</table>

<style>
    .tr-table-head {
        background: #222;
        color: #FFF;
    }

    .tr-table-body {
        background: #EEE;
    }

        .tr-table-body:hover {
            background: #DDD;
        }

        .tr-table-body .btn-container {
            display: inline-block;
            width: 80px;
        }

            .tr-table-body .btn-container a {
                border: 3px solid #333;
                transition: 400ms;
                color: #FFF;
                padding: 5px 0px;
                text-align: center;
                display: block;
                background: #333;
            }

                .tr-table-body .btn-container a:hover {
                    border: 3px inset #333;
                    text-decoration: none;
                    color: #EEE;
                    background: #111;
                }
</style>