﻿@model IEnumerable<Proyecto_Semestral.Net.Models.Equipos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="tr-table-head">
        <th>
            <span>Nombre del equipo</span>
        </th>
        <th>
            <span>Pais del equipo</span>
        </th>
        <th>
            <span>Opciones</span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="tr-table-body">
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            <div class="btn-container">@Html.ActionLink("Editar", "Edit", new { id = item.id })</div>
            <div class="btn-container">@Html.ActionLink("Detalles", "Details", new { id = item.id })</div>
            <div class="btn-container">@Html.ActionLink("Eliminar", "Delete", new { id = item.id })</div>
        </td>
    </tr>
}

</table>

<style>
    .tr-table-head {
        background: #222;
        color: #FFF;
    }

    .tr-table-body {
        background: #EEE;
    }

    .tr-table-body:hover {
        background: #DDD;
    }

    .tr-table-body .btn-container {
        display: inline-block;
        width: 80px;
    }

    .tr-table-body .btn-container a{
        border: 3px solid #333;
        transition: 400ms;
        color: #FFF;
        padding: 5px 0px;
        text-align: center;
        display: block;
        background: #333;
    }

   .tr-table-body .btn-container a:hover{
        border: 3px inset #333;
        text-decoration: none;
        color: #EEE;
        background: #111;
    }
</style>
